{% extends 'base.html' %}
{% block title %}
Register Page         
{% endblock %}

{% block content %}
    <div class="container">
        <!-- <img src="file:///Users/tobe/Documents/GitHub/CA2project/market/templates/marketcart.jpg" alt="My image"> -->
        <h1>Create your account</h1> 
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <!-- this protects the details of the form from hacker using cross site request forgery -->
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Username") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email address") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Enter password") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm password") }}

            <br>
            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>
            
            <div style="margin-bottom: 10px;"></div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary ") }}
        </form>
    </div>
 
{% endblock %}